.rootsignup {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto; /*내용에 따라 배경 길이 자동 수정*/
    text-align: center;
  }

.logo {
    margin-top: 30px; 
    width: 250px;
}

.tablet {
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%); 
    background-color: rgba(255, 255, 255, 0.07);
    width: 350px;
    height: 370px;
    border-radius: 20px;
    font-size: 12px;
    padding: 25px 0px 45px 0px;
    margin-bottom: 50px;
}

.tablet > .text { 
    margin-bottom: 25px;
    font-size: large;
    letter-spacing: 1.5px;
    font-family: 'Pretendard-Bold';
}

.form .text { 
    text-align: left;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 4px ;
}

input {    
    border: 0px;
    width: 240px;
    height: 23px;
    border-radius: 5px;
    padding-left: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

.pwB {
    letter-spacing: 3px;
}
/*pw alert text
.stext { 
    font-size: 10px;
    text-align: left;
    margin: 2% 15% 7% 15%;
    color:rgba(255, 255, 255, 0.653);
}
*/
.idB:focus, .emailB:focus, .pwB:focus{
   outline: 2px solid rgba(158, 168, 212, 0.777);
}

.notice {
    font-size: 10px;
    position: relative;
    top: 7px;
    color:rgba(255, 255, 255, 0.653);
    margin-right: 30%;
}

.signin {
    position: relative;
    top: 10px;
    background-color: transparent;
    color: white;
    border: none;
    padding-right: 0px;
    font-family: 'Pretendard-Semibold';
    letter-spacing: 1px;
}