@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff2') format("woff2");
  font-display: block;
}

@font-face {
  font-family: 'Pretendard-Semibold';
  src: url('./assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url(./assets/fonts/Pretendard-Bold.woff2) format('woff2'),
  url('./assets/fonts/Pretendard-Bold.woff') format('woff');
  font-display: block;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(225, 225, 225, 0.955);
    font-family: 'Pretendard';

  } 
