body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rootsignup {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .rootsignin {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }