.container {
    background-color: rgba(0, 0, 0, 0.267);
    height: 200px;
}

.privacy {
    font-family: Pretendard-Bold;
}

.wrap {
    display: flex;
    justify-content: space-around;
    padding:  35px 160px;
}

button {
    color: white;
    background-color: transparent;
    border: none;
}