.container {
    background-color: rgb(30, 30, 30);
    height: 35px;

}

.leftwrapper {
    display: flex;
    align-items: center;
    padding: 5px 13px;
    gap: 13px;
    float: left;
}

.logo {
    width: 25px;
}

.rightwrapper {
    padding: 5px 13px;
    display: flex;
    align-items: center;
    gap: 15px;
    float:right;
}
